@page
@model blog_e17.Pages.Category.IndexModel
@{
    ViewData["Title"] = "Category";
}

<div class="container my-5">
    <div class="row">
        <div class="d-flex justify-content-between mb-2">
            <h3>Category List</h3>
            <a class="btn btn-success" asp-page="/category/create" role="button">Create</a>
        </div>
        <!-- Blog entries-->
        <div class="col-lg-12">
            @if(Model.Categories.Count() > 0) {

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button id="confirm-delete" type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card p-3">
                    <table id="datatable"
                    class="table table-striped"
                    style="width: 100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Category</th>
                                <th style="width: 200px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                                @foreach(var item in Model.Categories) {
                                    <tr>
                                        <td>@(++i)</td>
                                        <td>@item.Name</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm"
                                               asp-page="/category/edit"
                                               asp-route-id="@item.Id"
                                               role="button">Edit</a>
                                            
                                               <form id="form-@item.Id" style="display: inline; margin-left: 10px" method="post" asp-route-id="@item.Id">
                                                    <button data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-danger btn-sm">Delete</button>
                                               </form>
                                        </td>
                                        
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Tag</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            } else {
                <div class="border mt-3">
                    <p class="text-center">No Data</p>
                </div>

            }
            
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var id = 0;
        $("form button").click((e) => {
            e.preventDefault();
            id = e.currentTarget.dataset.id;
        });

        $("#confirm-delete").click(() => {
            $("#form-" + id).submit();
        });
    </script>
}